<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051210703087-k7kptf7ede03v84ismmfo9e1vsji1hm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051210703087-k7kptf7ede03v84ismmfo9e1vsji1hm3</string>
	<key>API_KEY</key>
	<string>AIzaSyA1TV4qmf2OpwSlwT8Hbjl_D14VpPbc7ds</string>
	<key>GCM_SENDER_ID</key>
	<string>1051210703087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungphinguyen.socialnetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-fda05</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-fda05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051210703087:ios:810bbd3fd063e1ac</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-fda05.firebaseio.com</string>
</dict>
</plist>